<nav id="navigation" class="nav nav--menu nav--main">

	<button type="button" class="nav__toggle js-toggle" data-target="#main-menu">
		{{ teik_svg('menu-bars.svg') }}
	</button>
	<div id="main-menu" class="nav__wrap">
		<div class="nav__heading">
			<figure class="nav__heading-logo">
				{{ img(site.logo,'full') }}
			</figure>
			<button type="button" class="nav__toggle nav__toggle--close js-toggle" data-target="#main-menu">
				{{ teik_svg('close.svg') }}
			</button>
		</div>
		<ul class="nav__menu" data-name="menu">
			{% for key,item in menus.main.items %}
				<li class="nav__item {{ item.class }}">
					<a href="{{ item.link }}" class="nav__link" {{ item.target ? 'target="' ~ item.target ~ '"' : '' }} data-menuanchor="{{item.anchor}}">
						{{ item.title }}
						{% if item.isHighlight %}
							<span class="nav__item-icon" aria-hidden="true">
								{{ teik_svg('next.svg') }}
							</span>
						{% endif %}
					</a>

          {% if item.children %}
              <ul class="nav__drop">
                  {% for child in item.children %}
                      <li class="nav__drop-item">
                          <a  class="nav__link"  anchor="{{child.anchor}}" href="{{ child.link }}">{{ child.title }}</a>
                      </li>
                  {% endfor %}
              </ul>
            {% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
</nav>
